* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #D8DCE4;
}

.wrapper .yellow {
  width: 100%;
  height: 100vh;
  background-color: #F0DA72;
}

.wrapper .one {
  position: absolute;
  width: 33.4%;
  height: 100vh;
  background-color: #D8DCE4;
}

.wrapper .two {
  width: 33.4%;
  height: 100vh;
  position: absolute;
  left: 33.4%;
  background-color: #D8DCE4;
}

.wrapper .three {
  width: 33.4%;
  height: 100vh;
  position: absolute;
  left: 66.8%;
  background-color: #D8DCE4;
}

.wrapper header {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper header .container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.wrapper header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper header .container .navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper header .container .header_main {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1100px;
  position: absolute;
  top: 0;
  left: 420px;
}

.wrapper header .container .header_main .nav {
  width: 500px;
  padding: 0px 0px 0px 180px;
}

.wrapper header .container .header_main .nav a {
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  margin-right: 50px;
  width: 100%;
  font-weight: 500;
}

.wrapper header .container .header_main .description {
  padding: 0px 0px 0px 150px;
  width: 500px;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper header .container .header_main .description .main_desc {
  width: 100%;
}

.wrapper header .container .header_main .description .main_desc .paragraf {
  width: 150px;
  height: 100px;
  overflow: hidden;
}

.wrapper header .container .header_main .description .main_desc .paragraf p {
  width: 150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 9px;
}

.wrapper header .container .header_main .description .main_desc .h1 {
  width: 500px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 40px;
}

.wrapper header .container .header_main .description .main_desc .h1 h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 50px;
}

.wrapper header .container .header_main .description .main_desc .h4 {
  width: 300px;
  height: 80px;
  overflow: hidden;
}

.wrapper header .container .header_main .description .main_desc .h4 h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.wrapper header .container .header_main .description .bottom {
  width: 200px;
  height: 200px;
  position: relative;
  padding-top: 80px;
}

.wrapper header .container .header_main .description .bottom .one p {
  width: 70px;
  position: absolute;
  left: 27px;
  top: 30px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 7px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

.wrapper header .container .header_main .description .bottom .two {
  line-height: 23px;
}

.wrapper header .container .header_main .description .bottom .two p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big {
  position: absolute;
  top: 220px;
  right: -275px;
  overflow: hidden;
  width: 500px;
  height: 200px;
}

.big h1 {
  font-size: 117px;
  font-weight: 900px;
  color: #F0DA72;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*# sourceMappingURL=style.css.map */